<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new" th:object="${user}">
    <fieldset>
        <legend>New user:</legend>
        <p>
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" id="username"/>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" th:field="*{password}" id="password"/>
        </p>
        <p>
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name"/>
        </p>
        <p>
            <label for="surname">Surname</label>
            <input type="text" th:field="*{surname}" id="surname"/>
        </p>
        <p>
            <label for="age">Age</label>
            <input type="number" th:field="*{age}" id="age"/>
        </p>
        <p>
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" id="email"/>
        </p>
        <p>
            <input type="checkbox"  th:id="2" name="ROLE_ADMIN" value="ROLE_ADMIN" th:checked="${user.getRolesToString().contains('ROLE_ADMIN')}">ADMIN</p>
        </p>
    </fieldset>
    <p>
        <input type="submit" value="Add new user"/>
    </p>
</form>
<br>
<hr>
<form action="/logout">
    <button type="submit">Logout</button>
</form>
</body>
</html>